Options Indexes
IndexIgnore /README.md
IndexOptions FancyIndexing
IndexOrderDefault Descending Name

<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak|git)$">
Order Deny,Allow
Deny from all
</FilesMatch>
